{% extends "network/layout.html" %}

{% block body %}
    TODO

    <div class="container">

        {% if user.is_authenticated %}
            
            <form id="new-post-form">
                {% csrf_token %}
            <div class="new-post">
                <h4>New Post</h4>
                <textarea class="form-control mt-2" id="newpost" required></textarea>
                <input type="submit" class="btn btn-primary mt-2">
            </div>
            </form>
        {% endif %}
        <div class="all-posts" id="all-posts">

        {% for post in posts %}
        
            <div class="fake-post">
                <h4><a href="{% url 'profile' post.user.id %}">{{ post.user }}</a></h4>
                <h5 class="mt-2">{{ post.content }}</h5>
                {{ post.date }} <br>
                {% if user == post.user %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" data-post-id="{{ post.id }}" id="editbutton">Edit</button>
                {% endif %}
                <button class="btn btn-primary">Like Button</button>
            </div>
        
        
        {% endfor %}
           <!-- <div class="fake-post">
                <h4>Username</h4>
                <h5 class="mt-2">Content</h5>
                Date time created <br>
                Like Button

            </div>

            <div class="fake-post">
                <h4>Username</h4>
                <h5 class="mt-2">Content</h5>
                Date time created <br>
                Like Button

            </div>
            <div class="fake-post">
                <h4>Username</h4>
                <h5 class="mt-2">Content</h5>
                Date time created <br>
                Like Button

            </div> -->
        </div>

        <br>
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModelLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="editModelLabel">Edit Post</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    {% csrf_token %}
                <div class="modal-body" id="editModal-body">
                    <textarea id="editModal-textarea" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
                    
                    <button type="submit" class="btn btn-primary saveEdit" id="editSave">Save changes</button>
                </form>
                </div>
              </div>
            </div>
          </div>


        <hr>
          <br>
          <br>
        <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
            {% endif %}

                <!-- <li class="page-item"><a class="page-link disabled" href="#">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li> -->

                {% for i in nums %}
                    <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}"> {{ forloop.counter }} </a></li>
                {% endfor %}

            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last &raquo</a></li>
            {% endif %}
        </ul>
        </nav>
        <br><br>
        {{ posts }} <br>
        Has Previous {{ posts.has_previous}}
        <br>
        Has next {{ posts.has_next }} <br>
        Current Page {{ posts.number }} <br>
        Number of pages {{ posts.paginator.num_pages }}
    </div>
{% endblock %}