{% extends "network/layout.html" %}
{% load static %}


{% block body %}

<div class="container" id="profile-page" data-user-id="{{ targetUser.id }}">

    <div class="row">
        <div class="col-6" id="pro_username">
            <h1 class="m-5">{{ targetUser.username |capfirst }}</h1>
        </div>
        <div class="col-6" id="follow">
            <div class="col" id="following">
                <h3 class="m-5">Following: </h3>
            </div>
            <div class="col" id="followers">
                <h3 class="m-5">Followers: </h3>
            </div>
            <div class="col" id="followers">
                {% csrf_token %}
                <button class="btn btn-primary" id="follow-btn" style="margin-left: 45%;">Follow</button>
            
            </div>
        </div>
    </div>
    {% for post in user_posts reversed %}
    
    <div class="fake-post">
        <h4><a href="{% url 'profile' post.user.id %}">{{ post.user }}</a></h4>
        <h5 class="mt-2">{{ post.content }}</h5>
        {{ post.date }} <br>
        <button class="btn btn-primary">Like Button</button>
    </div>
    {% endfor %}


    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if user_posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ user_posts.previous_page_number }}">Previous</a></li>
            {% endif %}

                <!-- <li class="page-item"><a class="page-link disabled" href="#">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li> -->

                {% for i in nums %}
                    <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}"> {{ forloop.counter }} </a></li>
                {% endfor %}

            {% if user_posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ user_posts.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ user_posts.paginator.num_pages }}">Last &raquo</a></li>
            {% endif %}
        </ul>
        </nav>
</div>


{% endblock body %}


    
